.puzzle-container {
	position: relative;
	touch-action: none;
	background: var(--color-bg-subtle);
	border-radius: var(--spacing-radius);
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.has-focus-on-unfinished [disabled] {
	opacity: 0.05;
}

@media screen and (max-width: 1023px) {
	bulma-navbar:not([active]) {
		--color-bg-subtle: transparent;
	}
}
