#playground {
	background: url(../assets/glitch-homepage-1920x1200.jpeg);
	background-position: bottom;
}

.canvas {
	align-content: end;
}

#piggy {
	position: absolute;
	bottom: 40px;
	right: 40px;
	transform: scaleX(-1);
}

#shroom-guy {
	position: absolute;
	bottom: 40px;
	left: 40px;
}
