#playground {
	background: url(../assets/glitch-homepage-1920x1200.jpeg);
	background-position: bottom;
}

.canvas {
	align-content: end;
}

#playground {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: flex-end;
	justify-content: center;
}
