#content {
	background: url(../assets/twinkling-forest-1365x768.jpg);
	background-position: bottom;
	position: relative;

	width: 1365px;
	height: 768px;
}

#content > * {
	position: absolute;
}

#batterfly {
	right: 497px;
	bottom: 223px;
}

#butterfly {
	left: 80px;
	bottom: 300px;
}

#cat {
	left: 396px;
	bottom: 84px;
	filter: hue-rotate(60deg);
}

#crab {
	right: 728px;
	bottom: 494px;
	transform: rotate(-9deg);
}

#forehorseman {
	left: 140px;
	bottom: 15px;
}

#fox {
	right: 361px;
	bottom: 196px;
	transform: rotate(2deg);
}

#lizard {
	right: 507px;
	bottom: 28px;
}

#stoneman {
	right: 246px;
	bottom: 361px;
	transform: rotate(7deg);
}

@media screen and (max-width: 1023px) {
	bulma-navbar {
		--color-bg-subtle: transparent;
	}
}
