#content {
	font-size: 3rem;
	font-weight: bold;
	padding: calc(var(--spacing-navbar-height) + var(--spacing-3)) var(--spacing-4);
	overflow-x: hidden;
}

#content #wrapper {
	display: inline-block;
	width: 0;
}

#content #the-a {
	display: inline-block;
	transform: translateX(100vw) rotate(0deg);
}

#content[data-active] #wrapper {
	width: 1ch;
	transition: all 5s ease-in-out;
}

#content[data-active] #the-a {
	transition: transform 5s ease-in-out; /* Smooth transition */
	transform: translateX(0) rotate(-720deg);
}
