:root {
	/* COLOR PALETTE - https://runkit.com/embed/91s6cdkheh1j */

	--color-white: white;
	--color-ash-10: #f3f3f3; /* HSLuv(0, 0, 96) */
	--color-ash-20: #d7d7d7; /* HSLuv(0, 0, 86) */
	--color-ash-30: #bbbbbb; /* HSLuv(0, 0, 76) */
	--color-ash-40: #a0a0a0; /* HSLuv(0, 0, 66) */
	--color-ash-50: #868686; /* HSLuv(0, 0, 56) */
	--color-ash-60: #6d6d6d; /* HSLuv(0, 0, 46) */
	--color-ash-70: #555555; /* HSLuv(0, 0, 36) */
	--color-ash-80: #3e3e3e; /* HSLuv(0, 0, 26) */
	--color-ash-90: #282828; /* HSLuv(0, 0, 16) */
	--color-ash-100: #131313; /* HSLuv(0, 0, 6) */
	--color-ash-100-op-90: rgba(19, 19, 19, 0.9); /* HSLuv(0, 0, 6) */
	--color-black: black;

	--color-fire-10: #fff0f1; /* HSLuv(8, 100, 96) */
	--color-fire-20: #ffcace; /* HSLuv(8, 100, 86) */
	--color-fire-30: #ffa2a9; /* HSLuv(8, 100, 76) */
	--color-fire-40: #ff7481; /* HSLuv(8, 100, 66) */
	--color-fire-50: #ff2f51; /* HSLuv(8, 100, 56) */
	--color-fire-60: #db0037; /* HSLuv(8, 100, 46) */
	--color-fire-70: #ad002a; /* HSLuv(8, 100, 36) */
	--color-fire-80: #81001d; /* HSLuv(8, 100, 26) */
	--color-fire-90: #580010; /* HSLuv(8, 100, 16) */
	--color-fire-100: #310006; /* HSLuv(8, 100, 6) */

	--color-grass-10: #d5ffcc; /* HSLuv(122, 100, 96) */
	--color-grass-20: #68f500; /* HSLuv(122, 100, 86) */
	--color-grass-30: #5ad500; /* HSLuv(122, 100, 76) */
	--color-grass-40: #4cb700; /* HSLuv(122, 100, 66) */
	--color-grass-50: #3e9900; /* HSLuv(122, 100, 56) */
	--color-grass-60: #317d00; /* HSLuv(122, 100, 46) */
	--color-grass-70: #256100; /* HSLuv(122, 100, 36) */
	--color-grass-80: #194700; /* HSLuv(122, 100, 26) */
	--color-grass-90: #0e2f00; /* HSLuv(122, 100, 16) */
	--color-grass-100: #041800; /* HSLuv(122, 100, 6) */

	--color-sea-10: #e8f5ff; /* HSLuv(230, 100, 96) */
	--color-sea-20: #a8deff; /* HSLuv(230, 100, 86) */
	--color-sea-30: #3cc9ff; /* HSLuv(230, 100, 76) */
	--color-sea-40: #00ade0; /* HSLuv(230, 100, 66) */
	--color-sea-50: #0091bc; /* HSLuv(230, 100, 56) */
	--color-sea-60: #00769a; /* HSLuv(230, 100, 46) */
	--color-sea-70: #005c78; /* HSLuv(230, 100, 36) */
	--color-sea-80: #004359; /* HSLuv(230, 100, 26) */
	--color-sea-90: #002c3b; /* HSLuv(230, 100, 16) */
	--color-sea-100: #00161f; /* HSLuv(230, 100, 6) */

	/* FOUNDATIONS */

	--color-fg-default: var(--color-ash-20);
	--color-fg-muted: var(--color-ash-80);
	--color-bg-default: var(--color-ash-100);
	--color-bg-subtle: var(--color-ash-90);
	--color-border-default: var(--color-ash-50);
	--color-border-muted: var(--color-ash-80);

	--color-bg-glass-default: var(--color-ash-100-op-90);

	--color-fg-primary-subtle: var(--color-sea-90);
	--color-fg-primary-soft: var(--color-sea-80);
	--color-fg-primary-muted: var(--color-sea-60);
	--color-fg-primary-default: var(--color-sea-40);
	--color-fg-primary-emphasis: var(--color-sea-20);

	--color-bg-primary-default: var(--color-sea-90);
	--color-bg-primary-soft: var(--color-sea-80);
	--color-bg-primary-muted: var(--color-sea-60);
	--color-bg-primary-mid: var(--color-sea-40);
	--color-bg-primary-emphasis: var(--color-sea-20);

	--color-border-primary-subtle: var(--color-sea-90);
	--color-border-primary-soft: var(--color-sea-80);
	--color-border-primary-muted: var(--color-sea-60);
	--color-border-primary-default: var(--color-sea-40);
	--color-border-primary-emphasis: var(--color-sea-20);

	--color-fg-success-subtle: var(--color-grass-90);
	--color-fg-success-soft: var(--color-grass-80);
	--color-fg-success-muted: var(--color-grass-60);
	--color-fg-success-default: var(--color-grass-40);
	--color-fg-success-emphasis: var(--color-grass-20);

	--color-bg-success-default: var(--color-grass-90);
	--color-bg-success-soft: var(--color-grass-80);
	--color-bg-success-muted: var(--color-grass-60);
	--color-bg-success-mid: var(--color-grass-40);
	--color-bg-success-emphasis: var(--color-grass-20);

	--color-border-success-subtle: var(--color-grass-90);
	--color-border-success-soft: var(--color-grass-80);
	--color-border-success-muted: var(--color-grass-60);
	--color-border-success-default: var(--color-grass-40);
	--color-border-success-emphasis: var(--color-grass-20);

	--color-fg-danger-subtle: var(--color-fire-90);
	--color-fg-danger-soft: var(--color-fire-80);
	--color-fg-danger-muted: var(--color-fire-60);
	--color-fg-danger-default: var(--color-fire-40);
	--color-fg-danger-emphasis: var(--color-fire-20);

	--color-bg-danger-default: var(--color-fire-90);
	--color-bg-danger-soft: var(--color-fire-80);
	--color-bg-danger-muted: var(--color-fire-60);
	--color-bg-danger-mid: var(--color-fire-40);
	--color-bg-danger-emphasis: var(--color-fire-20);

	--color-border-danger-subtle: var(--color-fire-90);
	--color-border-danger-soft: var(--color-fire-80);
	--color-border-danger-muted: var(--color-fire-60);
	--color-border-danger-default: var(--color-fire-40);
	--color-border-danger-emphasis: var(--color-fire-20);

	/* SPACING */

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 16px;
	--spacing-4: 24px;
	--spacing-5: 32px;
	--spacing-6: 40px;
	--spacing-7: 48px;
	--spacing-8: 64px;

	--spacing-radius: 6px;

	--speed-1: 86ms;

	--shadow-1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--shadow-2: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	--z-topmost: 999;

	/* COMPONENTS */

	/* Navbar */
	--spacing-navbar-height: var(--spacing-7);

	/* Scrollbar */
	--color-scrollbar-bg: var(--color-bg-subtle);
	--color-scrollbar-thumb: var(--color-fg-muted);
	--spacing-scrollbar-width: var(--spacing-2);
}

/* GENERIC */

html {
	overflow-y: auto;
	font-family: sans-serif;
	background: var(--color-bg-default);
}

body {
	color: var(--color-fg-default);
	height: calc(var(--vh, 1vh) * 100);
	background: var(--color-bg-default);
	position: relative;
}

h1 {
	font-size: 2rem;
}

#playground {
	position: relative;
	display: grid;
	height: 100%;
	width: 100%;
	grid-template: 1fr / 1fr;
	padding: var(--spacing-3);
	padding-top: calc(var(--spacing-navbar-height) + var(--spacing-3));
}

.button.is-icon {
	display: flex;
	align-items: center;
	padding: 0.75em;
	width: 40px;
	height: 40px;
}
body:fullscreen #go-fullscreen {
	display: none;
}

/** HELPERS */

.has-text-danger {	color: var(--color-fg-danger-default) !important; }
.has-text-success {	color: var(--color-fg-success-default) !important; }

.has-text-weight-bold { font-weight: bold !important; }

.is-paddingless { padding: 0 !important; }

.is-scrollable {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	scrollbar-width: thin;
}
.is-scrollable::-webkit-scrollbar {
	width: var(--spacing-scrollbar-width);
	height: var(--spacing-scrollbar-width);
	background-color: var(--color-scrollbar-bg);
}
.is-scrollable::-webkit-scrollbar-corner {
	background-color: var(--color-scrollbar-bg);
}
.is-scrollable::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar-thumb);
}

.pl-2 { padding-left: var(--spacing-2) !important; }

/** ELEMENTS */

.button,
.input {
	font-size: 1em;
	border: 1px solid var(--color-border-default);
	padding: 0.5em 1em;
	border-radius: var(--spacing-radius);
	cursor: pointer;
	white-space: nowrap;
}
.button {
	color: var(--color-fg-default);
	background: var(--color-bg-default);
}
.button.is-ghost:not(:hover):not(:active):not(:focus):not(.is-active) {
	border-color: transparent;
	background: transparent;
}

@media (hover: hover) {
	.button:hover,
	.input:hover {
		border-color: var(--color-border-primary-default);
		box-shadow: 0px 0px 0px var(--spacing-1) var(--color-bg-primary-soft);
	}
}
.button.is-active,
.button:active {
	background: var(--color-bg-primary-soft);
	border-color: var(--color-border-primary-default);
	color: var(--color-fg-primary-emphasis);
}

.section {
	padding: var(--spacing-2);
}
