#playground {
	overflow-y: auto;
}

.puzzle-settings-layout {
	display: grid;
	height: 100%;
	justify-self: center;
	align-self: flex-start;
	gap: var(--spacing-2);
	grid-template-columns: min-content minmax(10ch, 1fr) min-content;
	grid-template-rows: repeat(7, auto) minmax(64px, 1fr) clamp(36px, 10vh, 180px) auto;
	align-items: center;
}

.puzzle-settings-layout > input:not(.has-addon) {
	grid-column: span 2;
}

.input-addon-layout {
	display: grid;
	grid-template-columns: minmax(10ch, 1fr) auto;
	gap: var(--spacing-2);
}

.puzzle-settings-layout #puzzle-image,
.puzzle-settings-layout #pieces,
.puzzle-settings-layout #buttons,
.puzzle-settings-layout #gallery {
	grid-column: span 3;
}

.puzzle-settings-layout label {
	white-space: nowrap;
}

#gallery {
	height: 100%;
	max-width: 100%;
	overflow-x: auto;
	display: flex;
	gap: var(--spacing-2);
}

#buttons {
	display: grid;
	gap: var(--spacing-2);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

details {
	grid-column: span 3;
	width: 100%;
}
.export-layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--spacing-2);
}
.export-layout > * {
	box-sizing: border-box;
	width: 100%;
}
.export-layout > textarea {
	grid-column: span 3;
	resize: none;
}

label {
	display: flex;
	align-items: center;
	gap: var(--spacing-2);
}

input[type=checkbox] {
	justify-self: start;
}

.icon {
	height: 1em;
	transform: translateY(-0.125em);
}

.image {
	height: 0;
	min-height: 100%;
	object-fit: contain;
	object-position: top left;
}

.button.is-image {
	border: none;
	position: relative;
	padding: 0;
	line-height: 0;
	width: auto;
	height: 100%;
	overflow: hidden;
	min-width: max-content;
}
.button.is-image > .button {
	position: absolute;
	top: var(--spacing-2);
	right: var(--spacing-2);
}

.is-edit-action {
	display: none;
	pointer-events: all;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	box-shadow: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	padding: 0;
	top: var(--spacing-2);
	left: var(--spacing-2);
	right: var(--spacing-2);
	bottom: var(--spacing-2);
}
.is-edit-action svg {
	width: minmax(var(--spacing-3), 80%);
	height: var(--spacing-3);
}
[data-gallery-edit-active] .is-edit-action {
	display: flex;
}
@media (hover: hover) {
	.is-edit-action:hover {
		color: var(--color-fg-primary-emphasis);
	}
	[data-gallery-edit-active] .button.is-image:hover {
		box-shadow: none;
		border: none;
	}
}
[data-gallery-edit-active] .button.is-image .image {
	min-width: 72px;
}
[data-gallery-edit-active] #gallery-edit-button {
	background: var(--color-bg-primary-soft);
	border-color: var(--color-border-primary-default);
	color: var(--color-fg-primary-emphasis);
}
